html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
}

video {
  display: block;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #01432b;
}
button {
  cursor: pointer !important;
}
button {
  transition: all 0.4s ease;
  border: none !important;
}
.fourth-container .left img,
video {
  position: absolute;
}
.fifth-container .right img,
video {
  position: absolute;
}
@media (min-width: 1280px) {
  html,
  body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
  }
}
